<%= render 'notes/navigation' %>
<div class="jumbotron">
	<div class="body-container">
		<h1>Polyjott</h1>
		<p>Hello there, welcom to Polyjott. Share your notes and class resources.</p>
		<button type="button" class="btn btn-success">
			<%= link_to 'View Notes', controller: 'notes' %>
		</button>
  	</div>
</div>

<div class="body-container">
	<h1>Start creating your notes</h1>


	<section>
		<button type="button" class="btn btn-info">
		<%= link_to 'Create a new Note', new_note_path %>
		</button>
	</section>
	 

	
</div>
